header {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
//     background: rgb(47,78,136);
//     background: linear-gradient(16deg, rgba(47,78,136,1) 0%, rgba(7,23,62,1) 100%);

    img, h1 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        margin-right: 20px;
    }

    .welcome {
        text-align: center;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        img {
            height: 20px;
        }
    }
}